* {
	margin: 0px;
}

body {
	font-family: verdana, helvetica, sans-serif;
	font-size: 13px;
	padding: 0px;
	background-color: #ffffff;
	color: #222222;
}

a {
	background-color: inherit;
	color: #007ee0;
}

a:hover {
	text-decoration: none;
}

p {
	text-align: justify;
	margin-bottom: 15px;
	line-height: 22px;
}

ul {
	list-style: disc;
	padding-left: 15px;
	margin-bottom: 15px;
}

h3 {
	font-size: 20px;
	margin-bottom: 30px;
}

h4 {
	font-size: 13px;
	margin-bottom: 5px;
}

#header {
	color: #222;
	padding: 5px 40px;
}

#header h1 {
	font-size: 30px;
}

#header h2 {
	font-size: 14px;
}

#menu {
	padding: 5px 40px 0px 40px;
	margin-bottom: 30px;
	color: #222222;
	background-color: #f5f5f5;
	border-bottom: solid 1px #DADADA;
}

#menu div {
	clear: both;
}

#menu ul {
	display: block;
	position: relative;
	top: 1px;
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
	
#menu ul li {
	position: relative;
	float: left;
	border: solid 1px #dadada;
	border-bottom: 0px;
	margin-right: 5px;
}

#menu ul li a {
	display: block;
	padding: 5px 10px 8px 10px;
	text-decoration: none;
	background-color: inherit;
	color: #333333;
}

#menu ul li a:hover {
	background-color: #d22755;
	color: #fff;
}

#menu ul li.active, #menu ul li.active a, #menu ul li.active a:hover {
	background-color: #ffffff;
	color: #333333;
}

#container {
	margin: 0px 40px 0px 40px;
}

#primarycontainer {
	float: left;
	margin-right: -200px;
	width: 100%;
}

#primarycontent p {
	margin-bottom: 20px;
}

#secondarycontent {
	float: right;
	width: 200px;
}

#footer {
	text-align: center;
	margin: 20px 0px 0px 0px;
	padding-top: 15px;
	border-top: solid 1px #DADADA;
	clear: both;
	color: #DADADA;
	font-size: 8px;
}

#footer a {
	color: #DADADA;
	text-decoration: none;
}

.clearit {
	clear: both;
	height: 1px;
}

/* my */
fieldset th {
	text-align: right;
	vertical-align: top;
}

.wifitable th {
	text-align: center;
}

.wifitable td, .wifitable th {
	padding-right: 10px;
}

td {
	vertical-align: top;
}

form fieldset th, form fieldset td {
	vertical-align: middle;
}

fieldset input[type=text], fieldset input[type=email], fieldset input[type=password], fieldset input[type=file] {
	width: 20em;
}

fieldset.smallinput input[type=text], fieldset.smallinput input[type=email], fieldset.smallinput input[type=password], fieldset.smallinput input[type=file] {
	width: 10em;
}

input, button, select {
	font-size: 13px;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
	border: 1px solid #DADADA;
}

.msg {
	border: 1px solid #DADADA;
	font-weight: bold;
	margin: -10px 3px 10px;
	padding: 5px 10px;
}	

tt {
	font-weight: normal;
}

.msg .red {
	color: red;
}

.msg .green {
	color: green;
}

pre {
	margin: 0 43px;
}

.swport {
	width: 80px;
	text-align: center;
	vertical-align: top;
}

.swport .port {
	font-weight: bold;
}

.swport img {
	margin-top: 8px;
}

.swport .stat {
	font-size: 10px;
}
