/selected_bsp
/selected_community
/selected_variant
/build
/bin*
/src/dl
/src/openwrt
/src/packages/fastd
/src/packages/wlanslovenija
/src/packages/openwrt
/src/packages/gluon
/src/packages/routing
/.project
/*.patch
/.mailmap
