* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1.7em;
	color: #7f8c8d;
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	color: #34495e;
}

.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

.pure-button {
	background-color: #1f8dd6;
	color: white;
	padding: 0.5em 2em;
	border-radius: 5px;
}

a.pure-button-primary {
	background: white;
	color: #1f8dd6;
	border-radius: 5px;
	font-size: 120%;
}

.home-menu {
	padding: 0.5em;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.home-menu.pure-menu-open {
	background: #2d3e50;
}

.home-menu .pure-menu-heading {
	color: white;
	font-weight: 400;
	font-size: 120%;
}

.home-menu .pure-menu-selected a {
	color: white;
}

.home-menu a {
	color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
	background: none;
	color: #AECFE5;
}

.home-menu {
	text-align: left;
}

.home-menu ul {
	float: right;
}
